$slots-pd: 10px 0;
$slots-bd: 4px;
.Slots{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: $slots-pd;
    border-radius: $slots-bd;
    border-color: $color-gray-line;
    color: $color-gray-text-1;
    position: relative;
    &::before{
        content: "a";
        position: absolute;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
    }
}