.time-detail__wrapper{
    background-color: antiquewhite;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    p{
        padding: 5px 0;
    }
    h3{
        padding: 5px 0;
    }
}