.inputForm{
    > p{
        padding: 10px 0 ;
        font-weight: bold;
        span{
            color: $color-gray-text-1;
            font-weight: normal;
        }
    }
    .inputForm__field{
        position: relative;
        input{
            position: relative;
            padding: 10px 20px;
            outline: none;
            border: 1px solid $color-gray-line;
            border-radius: 4px;
            width: 100%;
        }
        .inputForm__field-icon{
            position: absolute;
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}