.seatItem__wrapper{
    padding: 10px 0;
    border-top: 1px solid $color-gray-line;
    display: flex;
    .seatItem__image{
        width: 25%;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include mediaQueryMin("medium"){
            width: 15%;
        }
    }
    .seatItem__detail{
        padding: 0 10px;
        width: 75%;
        @include mediaQueryMin('medium'){
            width: 65%;
        }
        .seatItem__detail-name{
            font-weight: bold;
        }
    }
}