$slot-date-pd: 20px;
$slot-date-pd-slot: 0 10px;
.slot-date{
    background-color: #fff;
    padding: $slot-date-pd;
    .slot-date__wrapper{
        display: grid;
        grid-template-rows: 1fr 1fr;
        
        @include mediaQueryMin("small"){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: none;
        }
        column-gap: 10px;
    }
}